services:
  dev:
    image: lunarzdev/epsilon-dev:linux
    pull_policy: missing
    build:
      context: .
      dockerfile: Dockerfile.dev
      args:
        USERNAME: robosub
        USER_UID: ${UID-1000}
        USER_GID: ${GID-1000}
        TARGET_PLATFORM: linux
        BASE_IMAGE: ros:humble
    container_name: robosub_dev
    privileged: true
    network_mode: "host"
    ipc: "host"
    pid: "host"
    environment:
      ROS_LOCALHOST_ONLY: "1"
      ROS_DOMAIN_ID: "42"
      ROS_WS: "/home/robosub/robosub_ws"
      DISPLAY: ${DISPLAY}
    volumes:
      - ${PWD}:/home/robosub/robosub_ws
      - /tmp/.X11-unix:/tmp/.X11-unix:cached
      - /dev:/dev 
    user: "${UID:-1000}:${GID:-1000}"
    working_dir: /home/robosub/robosub_ws
  sitl:
    image: lunarzdev/epsilon-sitl:linux
    pull_policy: missing
    build:
      context: .
      dockerfile: Dockerfile.sitl
      args:
        USERNAME: ardupilot
        USER_UID: ${UID:-1000}
        USER_GID: ${GID:-1000}
        MIRROR: http://mirror.us.leaseweb.net/ubuntu
    container_name: ardupilot_sitl
    network_mode: "host"
    environment:
      VEHICLE: "Rover"
      DISPLAY: ${DISPLAY}
      SITL_EXTRA_ARGS: "--console --map --add-param-file=/param/boat.param --model JSON:127.0.0.1 --out tcp-l:5762"
    volumes:
      - ./boat.param:/param/boat.param:ro
      - /tmp/.X11-unix:/tmp/.X11-unix:cached
      - /dev/dri:/dev/dri:cached
    restart: unless-stopped